/*=================================
    One-Page Website Stylesheet
===================================
    Author: Brielle Linna
===================================*/

html {;
    font-size: 20px;
    background: beige;
}

p {
    width: 500px;
    margin: 0% auto;
    border: 5%;
    border-radius: 1px;
    color: black;
    text-align: right auto;
}

h1, h2 {
    width: 800px;
    margin: 5px auto 25px;
    color: purple;
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
    border: 5px double #fff;
    border-radius: 2px;
    text-align: center;
}
    